:root {
    --box-shadow-normal: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    --font-size-big: 46px;
    --font-weight-big: 800;
    --font-weight-normal: 600;
    --font-weight-small: 500; 

    --font-size-normal-xl: 32px;
    --font-size-normal: 28px;
    --font-size-small: 22px;
    --font-size-mini: 18px;
}

* {
    box-sizing: border-box;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
    line-height: 1;
    font-style: normal;
    color: black;
}

html {
    min-height: 100vh;
    height: fit-content;

    height: 100%;

    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    min-width: 320px;
    height: fit-content;

    padding: 0px;
    margin: 0px;

    background-color: whitesmoke;
}

#_page_ {
    min-height: 100vh;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

#_page_ > div {
    background-color: burlywood;
    width: 100%;
}

#_content_wrapper_ {
    display: flex;
    flex-grow: 1;
}

#_content_wrapper_ > #_content_ {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#_image_section_wrapper_ {
    display: flex;
    flex: 2 1 0;

    background-color:  white;
    width: 100%;
    height: 100%;

    > #_image_section_ {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        width: 100%;
        height: 100%;

    }
}

#_logo_container_ {
    display: flex;
    align-self: start;
    align-items: center;
    width: 100%;
    padding: 5px;
    & img {
        width: 67px;
        height: 67px;
        
        padding: 0;
        margin: 0;
    }
    & p {
        font-size: var(--font-size-normal);
    }
}

#_artwork_container_wrapper_ {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#_artwork_container_ img {
    max-width: 100%;
    min-width: 50%;
    max-height: 100%;
    min-height: 100%;

    object-fit: cover;

    padding: 0;
    margin: 0;
}

#_form_section_wrapper_ {
    display: flex;
    flex: 3 1 0;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;

    background-color: rgba(201,255,228,1);
    padding: 15px;
}

#_form_section_wrapper_ > #_form_section_ {
    width: 100%;
}

form {
    display: flex;
    flex: 1 1 768px;
    flex-direction: column;

    /*
    background-color: #D0F5BE;
    box-shadow: var(--box-shadow-normal);
    */

    border-radius: 5px;
    padding: 20px;
    margin: 0px;

    min-width: 320px;
}

label {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;

    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-small);

    padding: 5px;
    gap: 5px;
}

#submit {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
    background-color: burlywood;
    width: 50%;
}

input {
    font-size: var(--font-size-mini);
    
    box-shadow: var(--box-shadow-normal);
    border-radius: 5px;
    
    border: 0px;
    height: 50px;
    padding: 5px;

    max-width: 100%;
    min-width: 280px;
}

input:focus {
    outline-style:solid;
    outline-color: burlywood;
}

input:invalid {
    outline-style:solid;
    outline-color: burlywood;
}

textarea {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-small);

    box-shadow: var(--box-shadow-normal);

    overflow-y: auto;
    overflow-x: hidden;
    resize: none;

    border-radius: 5px;
    padding: 5px;
    border: 0px;
}

textarea:focus {
    outline-style:solid;
    outline-color: burlywood;
}

textarea:invalid {
    outline-style:solid;
    outline-color: burlywood;
}


h1 {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
    padding: 5px;
}

p {
    font-size: var(--font-size-normal-xl);
    font-weight: var(--font-weight-normal);
    padding: 5px;
}

p.reference {
    font-size: var(--font-size-mini);
    font-weight: var(--font-weight-small);
}

br {
    display: block;
    margin-top: 10px;
    content: "";
}

#_main_form_input_ {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 0; 
    gap: 10px;
}

#_main_form_input_ > .input-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 0;
    width: 100%;
}

@media (max-width: 979px) {
    #_main_form_input_ {
        /* Webkit browsers overflow fix */
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
    }

    #_content_wrapper_ > #_content_ {
        flex-direction: column;
    }

    #_form_section_wrapper_ {
        justify-content: center;
    }
    
    .reference {
        align-self: flex-start;
    }
}